body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Kaushan Script', cursive;
	font-size: 16px;
	color: #666666;
	font-weight:400;
	letter-spacing:1px;
}

p{
	line-height:30px;
}

h1,h2,h3,h4,h5,h6{
	color:#333333;
	text-transform:uppercase;
	font-family:'Raleway' , Helvetica, Arial;
	font-weight:700;
}

a{
	color:#3498db;
	text-decoration:none;
}

a:hover , a:focus{
	color:#308ac6;
}

hr{
	border-bottom: 3px solid #fff;
}


/*Navigation style*/
.navbar-brand{
	width:135px;
	height:40px;
	padding:0;
	margin:5px 0 0;
	background:url(images/brand.png) no-repeat;
	text-indent:-9999px;
}

.navbar-default{
	background:none;
	border:none;
	padding:0;
}

.navbar-default .navbar-nav>li>a{
	font-size:15px;
	text-transform:uppercase;
	color:#fff;
	padding:11px 15px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.jumbroton{
	background: url(images/bird.png) 100% 0 no-repeat;
	background-size:100% auto;
	padding:30px 30px 10px;
}

.jumbroton.caption{
	background: url(images/11.png) 100% 0 no-repeat;
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: rgba(243,156,18,0.9);
	-webkit-transition	: opacity .1s ease-in-out;
	
}

.sosial-icons{
	padding-left:90px;
}

.rowi{
	position:relative;
	margin:0 auto;
	height:90px;
	width:500px;
	text-align:center;
	padding-top:40px;
	padding-bottom:10px;
}

.course-web{
	display:inline-block;
	padding:0 10px;
}

.dua
{
	width:100%;
}

.chat{
	background:#f4f7f7;
	width:100%;
	height:100%;
	margin-top:60px;
	padding-bottom:40px;
	display:inline-block;
	text-align:center;
}

.cat{
	padding-top:40px;
}

.abu2{
	padding-top:120px;
	padding-bottom:90px;
	text-align:left;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.abu29{
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.abu2 p{
	padding-top:28px;
}
.head{
	margin-top:20px;
	margin-bottom:20px;
	background:url(images/heading.png) no-repeat;
	text-align:center;
	background-position:center bottom;
	padding: 0 0 20px 0;
}

.heada{
	margin-top:20px;
	margin-bottom:-25px;
	background:url(images/heading.png) no-repeat;
	text-align:left;
	background-position:left bottom;
	padding: 0 0 20px 0;
	
}

.headah{
	    margin-top: 5px;
    margin-left: 130px;
    background: url(images/heading.png) no-repeat;
    text-align: left;
    background-position: left bottom;
    padding: 0 20px 4px 0;
}

.headi{
	padding-top:90px;
	text-align:center;
	background-position:center top;
	padding: 0 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	position:relative;
	
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
}

.gamo{
	position:absolute;
	top: 140px;
    left: -15px;
}
	
.gam .caption{
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: url(images/color.png);
	-webkit-transition	: opacity .1s ease-in-out;
	
}

.gam img{
	padding:0;
	margin:0;
}

.gam .caption h4{
	color:#fff;
}

.gam .caption small{
	color: rgba(255,255,255,0.6);
}

.gam .caption{
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: url(images/color.png);
	-webkit-transition	: opacity .1s ease-in-out;
	
}



.gam:hover .caption{
	opacity:0.9;
}

.gam .caption .btn-trigger{
	text-align:center;
	position:absolute;
	top:40%;
	right:1%;
	width:100%;
	
}

.gam .caption .btn-trigger a{
	Width	: 44px;
	Height	: 44px;
	text-indent	: -9999px;
	background	: transparent url(images/user.png) no-repeat;
	background-position	: left top;
}

.gam .caption .buton-trigger a{
	Width	: 44px;
	Height	: 44px;
	text-indent	: -9999px;
	background	: transparent url(images/twitter.png) no-repeat;
}

.gam .caption .buton-trigger i{
	Width	: 44px;
	Height	: 44px;
}

.gam .caption .buton-trigger .fa{
	color:#F16B6F;
}
.gam .caption .buton-trigger .web-a:hover{
	background-position:15px 5px;
	background-color:#F16B6F;
}

.gam .caption .buton-trigger .fa:hover {
	background-color:#F16B6F;
	color:#fff;
	
}

.kol .gallery-inner .caption .btn-trigger .fa:hover {
	color:#fff;
	
}

.gam .caption .btn-trigger .web-link {
	background-position	: left top;
	position	:absolute;
	left	:50%;
	margin-left	: -14px;
	border:none;

}

.caption-heading{
	Width: 100%;
	Position	: absolute;
	Bottom	: 0;
	Padding : 0px 0px 80px 0px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:510;
	font-size:20px;
}

.caption-headingi{
	Width: 100%;
	Position	: absolute;
	Bottom	: 0;
	Padding : 0px 0px 50px 40px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:50;
	font-size:18px;
}

.ihi {
	text-align:center;
	padding-left:80px;
}

.gam .caption .btn-trigger .web-lank {
	position	:absolute;
	left	:50%;
	margin-left	: -44px;

}

	
.gam1{
		margin-top:20px;
		text-align:left;
		background-position:left bottom;
		padding: 0 0 20px 0;
	}
	
.me{
		margin-top:20px;
		text-align:center;
		background-position:center bottom;
		background-size:20%;
		display:inline-block;
		padding: 0 0 20px 0;
		width:100%;
}

.log img{
	margin-top:60px;
	text-align:center;
	background-position:center bottom;
	background-size:100%;
}
	
.blue img{
	background-size:100% auto;
	margin-top:100px;
	width:100%;
	}
	
.sip {
    display: inline-block;
	float:center;
	text-align:center;
	vertical-align:middle;
}
	
.tiga{
	color:grey;
	font-family: 'Montserrat', sans-serif;
	
}

.list-small-features{
	padding-top:50px;
	text-decoration:none;
	list-style:none;
}

.listi-small-features{
	padding-top:90px;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
}

.empat{
	background: url(images/sha.png) 100% 0 no-repeat;
	background-size:100% auto;
	margin-bottom:0;
	text-align:center;
	margin-top:50px;
}

.empata{
	background-color:rgba(255,255,255,0.7);
}

.enama{
	background-color:rgba(255,255,255,0.6);
}

.tujuha{
	background-color:rgba(255,255,255,0.7);
}

.delapana{
	background-color:rgba(255,255,255,0.7);
}

.opa{
	margin-top:90px;
	background-size:100% auto;
	margin-bottom:0;
	text-align:center;
	opacity:none;
}

.hp img{
	position:absolute;
	margin:0 auto;
	left:410px;
	top:2820px;
	bottom:0;
	right:0;
	display:inline-block;
	width:250px;
}


.more{
	margin-top:70px;
	text-align:center;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	background:none;
	color:#f9c00c;
	outline:0;
	border-bottom: 3px solid #f9c00c;
}

.navbar-default  .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	background:none;
	color:#f9c00c;
	outline:0;
	border-bottom: 3px solid #f9c00c;
}

.headop{
	border-bottom: 3px solid  #fff;
	border:50px;
}

.navbar-toggle{
	border:none;
	outline:0;
	margin-top:0;
	margin-right:0;
	width:32px;
	height:32px;
	text-align:center;
	color:#fff;
	background:#fff;
	width:auto;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background:#fff;
	width:auto;
	outline:none;
}

.navbar-default .navbar-collapse{
	background: rgba(255,255,255,0.05);
}

.header-content h1{
	font-size:1.75em;
	font-family:'Open Sans' , sans-serif;
	color:#fff;
	margin: 40% 20px 0;
}

.header-content h2{
	font-size:0.80em;
	font-family:'Open Sans' , sans-serif;
	text-transform:none;
	margin: 10px 20px ;
	color:#fff;
}

.gallery-inner{
	position: relative;
    float: left;

}

.gallery-inner img{
	padding:0;
	margin:0;
	opacity:0.6;
}

.gallery-inner .caption h4{
	color:#fff;
}

.gallery-inner .caption small{
	color: rgba(255,255,255,0.6);
}

.gallery-inner .caption{
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: url(images/color.png);
	-webkit-transition	: opacity .1s ease-in-out;
	
}



.gallery-inner:hover .caption{
	opacity:1;
}

.gallery-inner .caption .btn-trigger{
	text-align:center;
	position:absolute;
	top: 45%;
    right: 45%;
	
}

.gallery-inner .caption . a{
	Width	: 44px;
	Height	: 44px;
	text-indent	: -9999px;
	background	: transparent url(images/picture.png) no-repeat;
	background-position	: center bottom;
	

}

.gallery-inner .caption .buton-trigger a{
	Width	: 44px;
	Height	: 44px;
	text-indent	: -9999px;
	background	: transparent url(images/logos.png) no-repeat;
	background-position	: center bottom;
	

}


.gallery-inner .caption .btn-trigger a:hover{
	background-color	: rgba(255,255,255,0.1);
}

.gallery-inner .caption .btn-trigger .web-link {
	background-position	: left top;
	position	:absolute;
	left	:50%;
	margin-left	: -44px;

}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:6180px;
}

.panel-title p{
	margin-left:40px;
	margin-top:-30px;
}

.sepuluh{
	background:url(images/map1.png) no-repeat;
	padding-top:400px;
	background-position:center bottom;
	background-size:100% auto;
	text-align:center;
}

.sepuluha{
	background-color:rgba(255,255,255,0.7);
	padding-top:70px;
}

.sep{
	text-align:center;
	vertical-align:middle;
	padding-top:90px;
}


.pink{
	color:#F16B6F;
}

.pink1{
	color:#F16B6F;
	font-family: 'Montserrat', sans-serif;
	
}

.icon-sprite{
	width:22px;
	display:inline-block;
	background:url(images/icon.png) no-repeat;
	background-position:left top;
	margin-bottom: 20px;
}

.icon-sprite.sprite-fb{
	background-position:left top;
}

.icon-sprite.sprite-twt{
	background-position:-22px top;
}

.icon-sprite.sprite-ig{
	background-position:-50px top;
}

.icon-sprite.sprite-pin{
	background-position:-78px top;
}

.icon-sprite.sprite-go{
	background-position:-110px top;
}

.icon-sprite.sprite-yo{
	background-position:-140px top;
}

.icon-sprite.sprite-lo{
	background-position:-170px top;
}

.icon-sprite.sprite-tum{
	background-position:-200px top;
}

.form{
	font-family: 'Montserrat', sans-serif;
}

.button{
	background:#45d9fd;
	color:white;
	font-weight:900;
}

.delapan{
	background:url(images/gunung1.png) no-repeat;
	background-size:100% auto;
	margin-bottom:0;
}


.ig{
	display:inline-block;
	width:280px;
}

.four{
	display:inline-block;
	padding-bottom:60px;
}

.four img{
	border:0;
	float:left;
	margin-top:5px;
	margin-right:10px;
}

.aa{
	padding-top:110px;
}

.bb img{
	border:0;
	float:left;
	margin-top:5px;
	margin-right:10px;
}

.cc{
	width:33,33%;
	display:inline-block;
	padding-top:50px;
}

.happy{
	font-family: 'Montserrat', sans-serif;
	color:black;
	text-align:left;
	width:510px;
	padding-top:80px;
}

.kol1{
	width:25%;
	float:left;
}

.kol2{
	width:25%;
	float:left;
}

.kol3{
	width:25%;
	float:left;
}



.kol4{
	width:25%;
	float:left;
}






	.navbar-default .navbar-collapse{
		background:none;
		float:right;
		border:none;
	}
	
	.navbar-default .navbar-nav>li{
		margin-left:25px;
	}
	
	
	.navbar-default .navbar-nav>li>a{
		padding: 9px 0 0 0;
	}
	
	.judul p{
		text-align:center;
		color:white;
		font-family: 'Kaushan Script', cursive;
		font-size:35px;
		margin-top:130px;
		
	}
	
	.judul1 h1{
		text-align:center;
		color:white;
		font-family: 'Montserrat', sans-serif;
		font-size:100px;
		
	}
	
	.judul2 p{
		text-align:center;
		color:black;
		font-family: 'Kaushan Script', cursive;
		font-size:25px;
		padding-top:60px;
		
	}
	
	.judul22 p{
		top:90px;
		text-align:left;
		color:black;
		font-family: 'Kaushan Script', cursive;
		font-size:25px;
		padding-left:90px;
		padding-top:0px;
	}
	
	.judul222 p{
		top:90px;
		text-align:left;
		color:black;
		font-family: 'Kaushan Script', cursive;
		font-size:25px;
		padding-left:90px;
		padding-top:0px;
		margin-top:0px;
	}
	
	
	
	.judul3 p{
		text-align:center;
		color:black;
		font-family: 'Montserrat', sans-serif;
		font-size:25px;
		font-weight:600;
		margin-top:20px;
	}
	
	.judul3a p{
		color:black;
		font-family: 'Montserrat', sans-serif;
		font-size:25px;
		font-weight:600;
	}
	
	.judul4 p{
		color:black;
		font-family: 'Montserrat', sans-serif;
		font-weight:600;
		margin-top:30px;
		margin-bottom:30px;
	}
	
	.judul4a p{
		color:black;
		font-family: 'Montserrat', sans-serif;
		font-weight:600;
		margin-top:80px;
		margin-bottom:30px;
	}
	
	.judul5 p{
		text-align:center;
		color:black;
		font-family: 'Montserrat', sans-serif;
		width:100%;
	}
	
	.judul6 p{
		text-align:left;
		color:black;
		font-family: 'Montserrat', sans-serif;
		font-size:20px;
		font-weight:600;
		margin-top:20px;
	}
	
	.judul7 p{
		color:black;
		font-family: 'Montserrat', sans-serif;
		font-weight:600;
		margin-top:20px;
	}
	
	.abu{
		text-align:center;
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
		margin-top:30px;
	}
	
	.abup{
		text-align:left;
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
		margin-top:30px;
	}
	
	.abua{
		text-align:left;
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
		margin-top:30px;
	}
	
	.abuab{
		text-align:left;
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
	}
	
	.abu0{
		text-align:left;
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
		width:20%;
	}
	
	.abu1{
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
		margin-top:5px;
	}
	
	.abu100{
		color:grey;
		font-family: 'Montserrat', sans-serif;
		font-size:15px;
		margin-top:5px;
		margin-bottom:50px;
	}
	
	.rp{
		font-weight:900;
	}

	.jumbroton h3{
		font-size:24px;
	}
	
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		margin-left:-15px;
	}
	
	.navbar-default .navbar-nav{
		float:right;
	}


	.jumbroton{
		padding:30px 0;
	}
	
	.navbar{
		margin-bottom:0;
	}
	
	.navbar .navbar-nav>li{
		margin-left:40px;
	}

	.jumbroton .container{
		width:100%;
	}
	
	
	.jumbroton h2{
		padding-top:140px;
	}


.teks{
	position:relative;
}
.teks::before{
    font-family: 'icomoon';
    content: attr(data-icon);
    color: #fff;
    position: absolute;
}

a:hover .teks::before{
	color:#f9c00c;
}

.pic{
	padding-left:630px;
	padding-bottom:630px;
}

.captu{
	width: 590px;
}



.panel-body{
	color:grey;
	font-family: 'Montserrat', sans-serif;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3500px;
	margin-bottom:90px;
}

.tub{
	width:400px;
}



@media(min-width: 768px){
	
	
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	background:none;
	color:#f9c00c;
	outline:0;
}

.navbar-default  .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	background:none;
	color:#f9c00c;
	outline:0;
}
	.jumbroton{
	background: url(images/bird.png) 100% 0 no-repeat;
	background-size:100% auto;
	padding:30px 30px 10px;
}

.jumbroton.caption{
	background: url(images/11.png) 100% 0 no-repeat;
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: rgba(243,156,18,0.9);
	-webkit-transition	: opacity .1s ease-in-out;
	
}
	
}
@media(max-width: 1200px){
	
.hp img{
	position:absolute;
	margin:0 auto;
	left:350px;
	top:2590px;
	bottom:0;
	right:0;
	display:inline-block;
	width:230px;
}


.blue{
	width:initial;
}

.navbar-default .navbar-nav{
	float:left;
	}
	
.judul p{
	text-align:center;
	color:white;
	font-family: 'Kaushan Script', cursive;
	font-size:30px;
	margin-top:30px;
		
	}
	
.judul1 h1{
	text-align:center;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:80px;
	}
	
.more{
	margin-top:20px;
	text-align:center;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	display:inline-block;
	width:260px;
	height:200px;
}

.blue img{
		background-size:100% auto;
		width:100%;
		margin-top:10px;
	}

.col-md-6{
	margin-top:30px;
}

.hp img{
	position:absolute;
	margin:0 auto;
	left:600px;
	top:2790px;
	bottom:0;
	right:0;
	display:inline-block;
	width:250px;
}

.tub{
	width:360px;
	margin-bottom:90px;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3500px;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	display:inline-block;
	width:250px;
	height:180px;
}	

.btn-group{
	vertical-align:middle;
}

.log img{
	margin-top:60px;
	text-align:center;
	background-position:center bottom;
	width:1000px;
}

.abu2{
	padding-top:120px;
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:5790px;
}

.happy{
	font-family: 'Montserrat', sans-serif;
	color:black;
	text-align:left;
	width:510px;
	padding-top:40px;
}
.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3250px;
}

}

@media(max-width: 1100px){
	
.sosial-icons{
	padding-left:1px;
}

.col-lg-4{
	width:36%;
}
.blue{
	width:initial;
}

.navbar-default .navbar-nav{
	float:left;
	}
	
.judul p{
	text-align:center;
	color:white;
	font-family: 'Kaushan Script', cursive;
	font-size:30px;
	margin-top:30px;
		
	}
	
.judul1 h1{
	text-align:center;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	}
	
.more{
	margin-top:20px;
	text-align:center;
}



.blue img{
		background-size:100% auto;
		width:100%;
		margin-top:10px;
	}

.col-md-6{
	margin-top:30px;
}

.hp img{
	position:absolute;
	margin:0 auto;
	left:430px;
	top:2590px;
	bottom:0;
	right:0;
	display:inline-block;
	width:250px;
}

.tub{
	width:360px;
	margin-bottom:90px;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3300px;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	display:inline-block;
	width:210px;
	height:180px;
}	

.btn-group{
	vertical-align:middle;
}

.log img{
	margin-top:60px;
	text-align:center;
	background-position:center bottom;
	width:1000px;
}

.abu2{
	padding-top:120px;
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:5790px;
}

.happy{
	font-family: 'Montserrat', sans-serif;
	color:black;
	text-align:left;
	width:510px;
	padding-top:40px;
}

.col-sm-6{
	width:33%;
}

.sep{
	padding-top:0px;
	
}

.four{
	display:inline-block;
	padding-bottom:60px;
	width:85%;
	margin-top:-50px;
}


.four img{
	border:0;
	float:left;
	margin-bottom:50px;
}

.col-lg-6 {
	width:50%;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3390px;
}


}

@media(max-width: 1311px){
	
.jumbroton{
	background: url(images/bird.png) 100% 0 no-repeat;
	background-size:200% auto;
	}
	
.jumbroton.caption{
	background: url(images/11.png) 100% 0 no-repeat;
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: rgba(243,156,18,0.9);
	-webkit-transition	: opacity .1s ease-in-out;
	
}

.sip {
	width: 100%;
    display: inline-block;
	float:center;
	text-align:center;
	vertical-align:middle;
}

.sipi {
	width: 90%;
    display: none;
	float:center;
	text-align:center;
	vertical-align:middle;
}

.caption-heading{
	Width: 100%;
	Position	: absolute;
	Bottom	: 0;
	Padding : 0px 0px 30px 0px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:510;
	font-size:20px;
}

.gam .caption{
	opacity:0;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: url(images/color.png);
	-webkit-transition	: opacity .1s ease-in-out;
	
}


.blue img{
		background-size:100% auto;
		margin-top:10px;
		width:100%;
	}
	
.gallery-images{
	width:100%;
}
	
.hp img{
	position:absolute;
	margin:0 auto;
	left:350px;
	top:2700px;
	bottom:0;
	right:0;
	display:none;
	width:230px;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3450px;
	display:none;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	display:inline-block;
	width:20%;
	

}



.log img{
	margin-top:90px;
	text-align:center;
	background-position:center bottom;
	width:90%;
}

.log{
	display:inline-block;
}


.kol3 img{
	float:left;
}

.abu2 p{
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
	display:none;
}

.heada{
	margin-top:20px;
	margin-bottom:-25px;
	padding-left:400px;
	background:url(images/heading.png) no-repeat;
	text-align:left;
	background-position:left bottom;
	padding: 0 0 20px 0;
	display:none;
	
}

.tujuh{
	display:none;
	}

.judul222 p{
		top:90px;
		text-align:left;
		color:black;
		font-family: 'Kaushan Script', cursive;
		font-size:25px;
		padding-left:400px;
		padding-top:0px;
		margin-top:0px;
		display:none;
}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:6590px;
}

}

@media(max-width: 950px){
	
	

.sip {
	width: 100%;
    display: inline-block;
	float:center;
	text-align:center;
	vertical-align:middle;
}
.blue{
	width:initial;
}

.navbar-default .navbar-nav{
	float:left;
	}
	
.judul p{
	text-align:center;
	color:white;
	font-family: 'Kaushan Script', cursive;
	font-size:30px;
	margin-top:30px;
		
	}
	
.judul1 h1{
	text-align:center;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	}
	
.more{
	margin-top:20px;
	text-align:center;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	display:inline-block;
	width:200px;
	height:200px;
}

.blue img{
	background-size:100% auto;
	width:100%;
	margin-top:10px;
	}

.col-md-6{
	margin-top:30px;
}

.hp img{
	position:absolute;
	margin:0 auto;
	left:250px;
	top:2590px;
	bottom:0;
	right:0;
	display:inline-block;
	width:150px;
}

.tub{
	width:250px;
	margin-bottom:90px;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3320px;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:30px;
	display:inline-block;
	width:200px;
	height:180px;
}	

.btn-group{
	vertical-align:middle;
}

.log img{
	margin-top:60px;
	text-align:center;
	background-position:center bottom;
	width:900px;
}

.abu2{
	padding-top:120px;
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:5790px;
}



.col-sm-6{
	width:33.3334%;
}

.sep{
	padding-top:0px;
	
}

.chat{
	background:#f4f7f7;
	width:100%;
	height:100%;
	padding-bottom:40px;
	display:inline-block;
	text-align:center;
}

.four{
	display:inline-block;
	padding-bottom:60px;
}

.four img{
	border:0;
	float:left;
	margin-top:50px;
	margin-bottom:10px;
}

.col-lg-6 {
	width:50%;
}

.sepuluh{
	background:url(images/map1.png) no-repeat;
	padding-top:400px;
	background-position:center bottom;
	background-size:100% auto;
	text-align:center;
}

.sep{
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
}

.teks{
	display:none;
}


}

@media(max-width: 950px) and (min-width:600px){
	.blue{
	width:100%;
}



.navbar-default .navbar-nav{
	float:left;
	width:620px;
	}
	
.teks{
	display:none;
}
	
.judul p{
	text-align:center;
	color:white;
	font-family: 'Kaushan Script', cursive;
	font-size:20px;
		
	}
	
.judul1 h1{
	text-align:center;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	}
	
.more{
	margin-top:20px;
	text-align:center;
	display:none;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	display:inline-block;
	width:260px;
	height:200px;
}

.blue img{
		width:100%;
		margin-top:10px;
	}

.col-md-6{
	margin-top:30px;
	display:none;
}



.hp img{
	position:absolute;
	margin:0 auto;
	left:110px;
	top:2210px;
	bottom:0;
	right:0;
	display:none;
	width:50px;
}

.tub{
	width:110px;
	margin-bottom:90px;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3350px;
	display:none;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	display:inline-block;
	width:94px;
	height:115px;
}

	

.btn-group{
	vertical-align:middle;
}

.log img{
	margin-top:60px;
	text-align:center;
	background-position:center bottom;
	width:900px;
	display:none;
}

.abu2{
	padding-top:120px;
	text-align:center;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:5790px;
	display:none;
}

.happy{
	font-family: 'Montserrat', sans-serif;
	color:black;
	text-align:left;
	width:420px;
	padding-top:40px;
}

.four{
	width:100%;
	margin-top:-90px;
	}



.sep{
	padding-top:0px;
	
}

.sosial-icons{
	padding-left:20px;
}

.abu0{
	text-align:left;
	color:grey;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	width:30%;
	}
	
.gam .caption .buton-trigger a{
	Width	: 44px;
	Height	: 44px;
	text-indent	: -9999px;
	background	: transparent url(images/twitter.png) no-repeat;
	display:none;
}

.abuab{
	text-align:left;
	color:grey;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	}
	
.rowi{
	position:relative;
	margin:0 auto;
	height:90px;
	width:500px;
	text-align:center;
	display:none;
}

.sip img{
	width: 100%;
    display: inline-block;
	float:center;
	text-align:center;
	vertical-align:middle;
}

.captu{
	padding-left:60px;
	width: 290px;
	margin-left:120px;
	margin-right:20px;
}
.four{
	display:none;
	}
	
.sembilan{
	display:none;
}

.abu2{
	text-align:center;
}

.cat{
	width:90px;
}

.sepuluh{
	display:none;
}

.form{
	width:10px;
}

	
}

@media(max-width: 360px){
	.blue{
	width:initial;
}

.navbar-default .navbar-nav{
	float:left;
	width:10px;
	}
	
.judul p{
	text-align:center;
	color:white;
	font-family: 'Kaushan Script', cursive;
	font-size:10px;
	display:none;
		
	}
	
.judul1 h1{
	text-align:center;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:10px;
	}
	
.more{
	margin-top:20px;
	text-align:center;
	display:none;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	display:block;
	width:160px;
	height:200px;
	display:none;
}

.blue img{
		background-size:100% auto;
		width:360px;
		margin-top:10px;
		display:none;
		width:100%;
	}

.col-md-6{
	margin-top:30px;
}

.hp img{
	position:absolute;
	margin:0 auto;
	left:110px;
	top:1460px;
	bottom:0;
	right:0;
	display:inline-block;
	width:50px;
}

.tub{
	width:110px;
	margin-bottom:90px;
}

.panel-group{
	padding-left:620px;
	padding-right:90px;
	position: absolute;
    top: 3350px;
	display:none;
}

.gam{
	
	text-align:center;
	background-position:center bottom;
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	display:inline-block;
	width:94px;
	height:115px;
}

	

.btn-group{
	vertical-align:middle;
}

.log img{
	margin-top:60px;
	text-align:center;
	background-position:center bottom;
	width:900px;
	display:none;
}

.abu2{
	padding-top:120px;
	text-align:center;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	background-position	: left top;
	margin-top:left;
	position:absolute;
	top:5790px;
	display:none;
}

.happy{
	font-family: 'Montserrat', sans-serif;
	color:black;
	text-align:left;
	width:420px;
	padding-top:40px;
}

.four{
	width:100%;
	margin-top:-90px;
	}



.sep{
	padding-top:0px;
	
}

.sosial-icons{
	padding-left:20px;
}

.abu0{
	text-align:left;
	color:grey;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	width:30%;
	}
	
.gam .caption .buton-trigger a{
	Width	: 44px;
	Height	: 44px;
	text-indent	: -9999px;
	background	: transparent url(images/twitter.png) no-repeat;
	display:none;
}

.abuab{
	text-align:left;
	color:grey;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	}
	
.rowi{
	position:relative;
	margin:0 auto;
	height:90px;
	width:500px;
	text-align:center;
	display:none;
}

.sip img{
	width: 100%;
    display: inline-block;
	float:center;
	text-align:center;
	vertical-align:middle;
}

.captu{
	width: 100%;
}
.four{
	display:none;
	}
	
.sembilan{
	display:none;
}

.abu2{
	text-align:center;
}

.cat{
	width:90px;
}

.sepuluh{
	display:none;
}

.form{
	width:10px;
}

.row{
	display:none;
}

.tujuh{
	display:none;
}

.footer{
	display:none;
}

.judul5{
	padding-top:590px;
}

.sip{
	display:none;
}
}

@media(max-width: 500px) and (min-width: 361px){


.row{
	display:none;
}

.log{
	display:none;
}

.sip .gam{
	display:none;
}
.more{
	display:none;
	
	}
	
.head{
	display:none;
}

.rowi{
	display:none;
	
	}
	
	.enama .gam{
		width:180px;
		margin-top:90px;
	}
	
.sembilan{
	display:none;
}
	
.gallery-images .sip .gam{
	width:100px;
	height:100px;
}

.blue img{
	width:100%;
	display:none;
	
}

.tub{
	width:100px;
	padding-top:60px;
}

.hp img{
	top:940px;
	width:50px;
	left:100px;
}

.captu {
	width:100%;
}

.cat{
	width:100px;
}

.gam{
	width:100px;
	height:160px;
}

.panel-group{
	display:none;
}

.log img{
	width:100%;
	margin-left:20px;
	margin-right:20px;
	padding-top:90px;
}

.abu2{
	padding-top:120px;
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	display:none;
}

.delapan{
	display:none;
}

.judul5{
	padding-top:100px;
}

.sepuluh{
	display:none;
}

.footer{
	display:none;
}
.teks{
	display:none;
}

}

@media(min-width: 410px) and (max-width: 600px){
	
.navbar-toggle{
	border:none;
	outline:0;
	margin-top:0;
	margin-right:0;
	width:32px;
	height:32px;
	text-align:center;
	color:#fff;
	background:#fff;
	width:auto;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background:#fff;
	width:auto;
	outline:none;
}
	
.judul{
	display:none;
}

.judul1 h1{
	font-size:30px;
}
.more{
	display:none;
	
	}
	
.head{
	display:none;
}

.rowi{
	display:none;
	
	}
.po{
	display:none;
}


.blue img{
	width:100%;
	display:none;
	
}

.tub{
	width:100px;
	padding-top:60px;
}

.hp img{
	top:2250px;
	width:50px;
	left:100px;
	display:none;
}

.captu {
	width:100%;
}

.cat{
	width:100px;
}

.gam{
	width:100px;
	height:160px;
	display:none;
}

.sepuluh{padding-top:0;
}
.panel-group{
	display:none;
}

.log img{
	width:100%;
	margin-left:20px;
	margin-right:20px;
	padding-top:90px;
}

.abu2{
	padding-top:120px;
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	display:none;
}

.delapan{
	display:none;
}

.judul5{
	padding-top:100px;
}

.enam{
	display:none;
}

.footer{display:none;}
	
}

@media(max-width: 410px) and (min-width: 230px){

.navbar-toggle{
	border:none;
	outline:0;
	margin-top:0;
	margin-right:0;
	width:32px;
	height:32px;
	text-align:center;
	color:#fff;
	background:#fff;
	width:auto;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background:#fff;
	width:auto;
	outline:none;
}


.more{
	display:none;
	
	}
	
.head{
	display:none;
}

.rowi{
	display:none;
	
	}
	
.gallery-images .sip .gam{
	width:100px;
	height:100px;
}

.blue img{
	width:100%;
	display:none;
	
}

.tub{
	width:100px;
	padding-top:60px;
}

.hp img{
	top:1230px;
	width:50px;
	left:100px;
	display:none;
}

.captu img{
	width:10px;
}

.cat{
	width:100px;
}

.gam{
	width:100px;
	height:160px;
}

.panel-group{
	display:none;
}

.log img{
	width:100%;
	margin-left:20px;
	margin-right:20px;
	padding-top:90px;
}

.abu2{
	padding-top:120px;
	text-align:left;
	padding-left:30px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.geger{
	display:none;
}

.delapan{
	display:none;
}

.judul5{
	padding-top:90px;
}

.judul2 p {
	font-size:20px;
	padding-top:60px;
	height:1px;
	display:block;
}
.judul3 p{
	padding-top:30px;
	font-size:20px;
}

.jumbroton{
	padding:0;
	background-size:230%;
}

.tub{
	margin-bottom:0;
}

.chat{
	margin-top:0;
}

.btn-group{
	top:50px;
}

.gam .caption{
	height:140%;
}

.teks{
	display:none;
}
.navbar-default .navbar-collapse{
		background:none;
		width:190px;
	}

}

@media (max-width: 320px){
	.navbar-toggle{
	border:none;
	outline:0;
	margin-top:0;
	margin-right:0;
	width:32px;
	height:32px;
	text-align:center;
	color:#fff;
	background:#fff;
	width:auto;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background:#fff;
	width:auto;
	outline:none;
}
}




